#main-headline {
	text-align:center;
color: #000FF ;
}
h2 [
	Text-align:center ;
}
.place-description{

color: #934ace ;
}

font-style:oblique
}
.top-favorite{
    color:#bf2716;
}
.important-point {
text-decoration: underline ;
}

.emphasis{
font-style: italic;
}
